# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
*.pyo

# ============================================================
# Virtual environments
# ============================================================
AgentRec/
.venv/
venv/

# ============================================================
# IDE
# ============================================================
.vscode/
.idea/

# ============================================================
# Raw / processed datasets
# ============================================================
data/raw/
data/processed/

# ============================================================
# Logs
# ============================================================
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/